﻿@model WebApp.ViewModels.InvoiceReport.InvoiceReportViewModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("PrintReport","InvoiceReport",FormMethod.Post, new {id="Invoice-report-form", enctype = "multipart/form-data" })) {

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Reporte de Facturas Resumido</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/Home/Index">Home</a>
            </li>
            <li>
                Reportes
            </li>
            <li class="active">
                <strong>Reporte de Facturas</strong>
            </li>
        </ol>
    </div>
</div>
    <div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-3">
                <div class="form-group">
                    <div class="group-date">
                        @Html.LabelFor(x => x.FromDate, new {@class = "control-label"})
                        <div class="input-group date col-md-12,">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" id="FromDate" name="FromDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                <div class="form-group">
                    <div class="group-date">
                        @Html.LabelFor(x => x.ToDate, new {@class = "control-label"})
                        <div class="input-group date ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" id="ToDate" name="ToDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-t-md" style="margin-top: 23px !important">
                <div class="col-lg-2 col-md-2 col-xs-1">
                    <div class="form-group">
                        <button class="btn btn-primary display-data" type="button" data-url-action=@Url.Action("Invoices")><i class="fa fa-search"></i> Consultar</button>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-2"><div class="form-group">
                        <button type="submit" class="btn btn-default" id="printButton"><i class="fa fa-print"></i> Imprimir</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="item-data" class="m-t-lg"></div>
    </div>
}
@section Styles{

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet"/>
    <style>
        .btn { 
            white-space: normal !important;
        }
    </style>
}
@section Scripts{

    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document)
            .ready(function() {
                $(".group-date .input-group.date")
                    .datepicker({
                        todayBtn: "linked",
                        keyboardNavigation: false,
                        forceParse: false,
                        calendarWeeks: true,
                        autoclose: true
                    });

                $(".input-group.date").datepicker("setDate", new Date());
                $(".input-group.date input").attr("readonly", "readonly");


                $(".display-data")
                    .click(function() {
                        debugger;
                        var command = $(this);
                        var url = command.attr("data-url-action");
                        var fromDate = $("#FromDate").val();
                        var toDate = $("#ToDate").val();
                        $.get(url,
                            {
                                FromDate: fromDate,
                                ToDate: toDate
                            },
                            function(data) {
                                var partialPage = $("#item-data");
                                partialPage.html();
                                partialPage.html(data);

                                if (!data.hasOwnProperty("ExcecutedSuccesfully"))
                                    return false;

                                if (data.ExcecutedSuccesfully.toString() === "true" ||
                                    data.ExcecutedSuccesfully.toString() === "True") {
                                    $("#printButton").removeAttr("disabled");

                                }
                            });
                    });
            });
    </script>

}