﻿@model CreateSupplierViewModel
<div class="row">
    <div class="col-lg-12 col-xs-12 m-lg">
        @using (Html.BeginForm("SetPatient", "Patient", FormMethod.Post, new { @class = "form-horizontal", id = "form-patient" }))
            {
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-11 col-xs-10">
                        @Html.LabelFor(x => x.Name , new { @class = "control-label" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 col-xs-10">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Nombre", minlength = "2", tabindex = "1", required = "" })
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-11 col-xs-10">
                            @Html.LabelFor(x => x.Address , new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 col-xs-10">
                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = "Apellido", tabindex = "2", required = "" })
                        </div>
                    </div>
                </div>
                <div class="form-group" id="copygroup">
                    <div class="row">
                        <div class="col-lg-11 col-xs-10">
                            @Html.LabelFor(x => x.Phone, new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="row" id="copyrow">
                        <div class="col-lg-11 col-xs-10">
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", data_mask = "999-999-9999", placeholder = "###-###-####", tabindex = "4", required = " " })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 col-xs-10">
                        <input type="submit" class="btn btn-primary pull-right" tabindex="7" value="Guardar" />
                        <a class="link-wiz btn btn-default pull-right m-r-lg" id="search-patient" tabindex="8">Cancel</a>
                    </div>
                </div>
        }
    </div>
</div>
