﻿@model ErrorViewModel

@{
    if (Model != null)
    {
        <div class="ibox-content">
            <h2 class="modal-title text-center font-bold">MRChange Plus - Error <i class="fa fa-warning modal-icon text-warning"></i></h2>
        </div>
        <div class="jumbotron">
            <div class="alert alert-danger error-content">
                <h3 align="center">
                    <strong>@Model.Messages</strong>
                </h3>
            </div>
        </div>
            if (Model.Referrer != null)
            {
                <a href="@Model.Referrer" style="margin-top: 20px !important;" class="btn btn-primary pt-2"><i class="fa fa-arrow-left"></i> Regresar </a>
            }
       
    }
}

