﻿
@{
    ViewBag.Title = "Intinerario";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Intinerario</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                Agenda
            </li>
            <li class="active">
                <strong>Intinerario</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
    <div class="row">
        <div id='calendar' class="col-lg-10 col-lg-offset-1"></div>
    </div>
</div>

<div class="tooltip_templates">
    <span id="tooltip_content_1">
        <!--href=''-->
        <a href="@Url.Action("MedicalHistory","MedicalHistory")/_PatientId_" class="btn btn-primary m-l-xs"><span class="fa fa-user m-r-xs"></span>Historial Medico</a>
    </span>
</div>

@section Styles {
    @Styles.Render("~/plugins/fullCalendarStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/fullCalendarSchedulerStyles")
    @Styles.Render("~/plugins/tooltipsterStyles")
    <style>
        .tooltip_templates {
            display: none;
        }
    </style>
}


@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/fullCalendarScheduler")
    @Scripts.Render("~/plugins/tooltipster")

    <script>
        function Cancelar(app) {
            clearToolTip();
            swal({
                title: "Desea Cancelar la Cita?",
                text:"",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-warning",
                confirmButtonText: "Ok!",
                closeOnConfirm: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    let Appointment = { appointmentId: app };
                    calenderAjax(Appointment, '@Url.Action("CancelAppointment", "Agenda")', "Cita Cancelada", "Cancel");
                    $('#calendar').fullCalendar('removeEvents', app);
                }
            });


        }
        function clearToolTip() {
            var instances = $.tooltipster.instances();
            $.each(instances, function (i, instance) {
                instance.close();
            });
        }
        function Facturar(app) {
            alert("Facturar " + app);
            clearToolTip();
        }

        $(function () { // document ready

            var color = ["#FFD300", "#63ADD0", "#FF4040", "#74E868", "#FF8740", "#AD66D5", "#574DD8"];
            var borderColor = ["#A68900", "#0772A1", "#A60000", "#62AA2A", "#FF6700", "#D936C0", "#2419B2"];
            $('#calendar').fullCalendar({
                defaultView: 'month',
                editable: true,
                selectable: true,
                navLinks: true,
                eventLimit: true, // allow "more" link when too many events
                eventOverlap:false,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaDay,agendaWeek,month'
                },
                //// uncomment this line to hide the all-day slot
                allDaySlot: false,
                nowIndicator: true,
                slotDuration: '00:30:00',
                minTime: "08:00:00",
                maxTime: "18:00:00",
                firstDay: 0,
                businessHours: true,
                eventConstraint: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [1, 2, 3, 4, 5], // Monday - Friday

                    start: '08:00', // a start time (09am in this example)
                    end: '18:00', // an end time (6pm in this example)
                },
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [1, 2, 3, 4, 5], // Monday - saturday
                    start: '08:00', // a start time (09am in this example)
                    end: '18:00', // an end time (6pm in this example)
                    background: 'green'
                },
                events: {
                    url: '@Url.Action("AppointmentsFeedByDentistId", "Agenda")',
                    data: { dentistId: @ViewBag.UserId },
                    type: 'POST',
                    success: function (r) {
                        $.each(r, function (key, value) {
                            value.id = value.Id;
                            value.title = value.PatientName;
                            value.start = value.StartDate;
                            value.end = value.EndDate;
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                },
                dayClick: function (date, jsEvent, view, resource) {
                    if (view.name == "month") {
                        $('#calendar').fullCalendar('gotoDate', date);
                        $('#calendar').fullCalendar('changeView', 'agendaDay');
                    }
                },
                eventClick: function (event, jsEvent, view) {
                    var c = [];
                    c[0] = $('#tooltip_content_1').html();
                    c[0] = c[0].replace("_PatientId_",event.PatientId);
                    var instances = $.tooltipster.instances(this);
                    $.each(instances, function (i, instance) {
                        instance.content(c[i]);
                    });
                },
                eventDragStart: function (event, jsEvent, ui, view) {

                },
                eventMouseout: function (calEvent, jsEvent) {

                },
                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {

                },
                eventAfterAllRender: function (view) {
                    let c1 = $('#tooltip_content_1').html();
                    $('.fc-event').tooltipster({
                        content: c1,
                        contentAsHTML: true,
                        multiple: true,
                        trigger: 'custom',
                        triggerOpen: {
                            click: true,
                            tap: true,
                        },
                        triggerClose: {
                            click: true,
                            tap: true
                        },
                        contentCloning: false,
                        interactive: true,
                        side: 'top',
                        theme: 'tooltipster-shadow'

                    });

                },
                eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {

                }
            });

        });


        function calenderAjax(Appointment, url, message, action) {
            let jsondata = JSON.stringify(Appointment);
            $.ajax({
                url: url,
                dataType: 'json',
                contentType: 'application/json; charset=UTF-8',
                type: 'POST',
                data: jsondata,
                success: function (data) {
                    data.id = data.Id;
                    data.title = data.PatientName;
                    data.start = data.StartDate;
                    data.end = data.EndDate;
                    data.editable = true;
                    if (action == "add") {
                        data.color = '#66A3D2'
                        $('#calendar').fullCalendar('renderEvent', data, true);
                    }
                    swal(message, "", "success");
                }
            });
        }

    </script>
}