﻿@model WebApp.ViewModels.ErrorViewModel
<div id="modal-view" class="modal-dialog">
    <div class="modal-content animated bounceInRight">
        <div class="modal-header">
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">&times;</button>
            <i class="fa fa-warning modal-icon"></i>
            <h4 class="modal-title">MRChange Plus - Error</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger error-content">
                @foreach (var message in @Model.ResponseModel.Messages)
                {
                    <h3 align="center"><strong>@message</strong></h3>
                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-white" data-dismiss="modal">Aceptar</button>
        </div>
    </div>
</div>

