﻿<!--<div class="footer @(ViewBag.preferences != null ? (ViewBag.preferences.Contains(" fixed ") ? "fixed" : "") : "" )">-->
    <div class="footer fixed">
        <div class="pull-right">
            Dentadom, haciendo la gestion de tu consultorio dental mas facil!
        </div>
        <div>
            <strong>Copyright</strong> DentaDom &copy; 2016 - 2016
        </div>
    </div>
