﻿@model string

@*<div class="row white-bg page-title-container">
    <div class="col-lg-12">
        <h2 class="page-title"><i class="glyphicon glyphicon-wrench"></i> @Model</h2>
    </div>
</div>*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mantenimiento de Usuario</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                Mantenimiento
            </li>
            <li class="active">
                <strong>@Model</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
