﻿@using WebApp.ViewModels.User
@model WebApp.ViewModels.Maintenance.ModalGenericViewModel


    <div id="modal-view" class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="btn btn-danger pull-right refreshPage" id="closeButton" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">X</span>
                </button>
                @if (!string.IsNullOrWhiteSpace(Model.Icon))
            {
                    <i class="@Model.Icon modal-icon" style="margin-right: -4%;"></i>
                }
                <h4 class="modal-title">@Model.Title</h4>
                <h6 class="modal-title">@Model.SubTitle</h6>
            </div>
            <div id="summary-info"></div>
            @{
                if (Model.IsAForm)
                {
                    <form action="@Model.FormAction" method="@Model.FormMethod.ToString()" id="@Model.FormId" enctype="multipart/form-data">
                        @if (Model.UseAntiForgeryToken)
                        {
                            @Html.AntiForgeryToken()
                        }

                        <div class="modal-body">
                            @Html.Partial(Model.FormControls, Model.FormViewModel)
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-white form-action" data-dismiss="modal">Cancelar</button>
                            <input type="submit" value="Guardar" data-modal-ajax-submit='true' class="btn btn-primary" />@*<i class="fa fa-save"></i> Guardar</input>*@
                        </div>
                    </form>
                    return;
                }
                @Html.Raw(Model.DiplayData)
            }
        </div>
    </div>
