﻿@model UpdateProcedureViewModel
@{
    ViewBag.Title = "MedicalProcedures";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Procedimientos Medicos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                Mantenimiento
            </li>
            <li class="active">
                <strong>Procedimientos Medicos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<!--Procedures Table-->
<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
    <div class="row m-b-xs">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <a class="m-r-xs btn btn-primary pull-right" data-toggle="modal" data-target="#NewProcedureModal"><span class="fa fa-user-plus m-r-xs"></span> Nuevo Procedimiento &nbsp;</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="table-responsive">
                <table class="table  table-bordered  dataTables-example table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Option</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Create Patient Modal-->
<div class="modal fade" id="NewProcedureModal" tabindex="-1" role="dialog" aria-labelledby="NewPatientModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Registrar Procedimeinto</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateProcedure", "Maintenance", FormMethod.Post, new { id = "CreateProcedureForm", @class = "form-horizontal" }))
                {

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Descripcion", minlength = "2", tabindex = "1", required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Price, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Precio", tabindex = "2", required = "" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary create">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--Update Procedure Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Actualizar Procedimiento</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateProcedure", "Maintenance", FormMethod.Post, new { id = "UpdateProcedureForm", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(x => x.Id);
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Descripcion", minlength = "2", tabindex = "1", required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Price, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Precio", tabindex = "2", required = "" })
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary update">Actualizar</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/tooltipsterStyles")
    @Styles.Render("~/plugins/dataPickerStyles")

    <style>
        .create,
        .delete,
        .update {
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/tooltipster")

    <script type="text/javascript">
    $(document).ready(function () {



        //datatable code
        $('.dataTables-example').DataTable({
            pageLength: 10,
            dom: '<"html5buttons"B>lTfgitp',
            "language": {
                "emptyTable": "<strong>No hay registros disponibles</strong>",
                "lengthMenu": "Mostrando _MENU_ Registros por pagina",
                "zeroRecords": "No se encontro nada con el criterio de busqueda",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "",
                "search": "<span class='fa fa-search m-r-xs' ></span>Buscar:",
                "paginate": {
                    "next": "Proximo",
                    "previous": "Anterior"
                }
            },
            ajax: {
                url: '@Url.Action("MedicalProceduresFeed", "Maintenance")',
                dataSrc: ''
            },
            columns: [
                { "data": "Id" },
                { "data": "Description" },
                { "data": "Price" },
                { "data": null }
            ],
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<button class="m-l-xs btn btn-xs btn-default"  data-toggle="modal" data-target="#exampleModal"><i class="fa fa-edit"></i></button>' +
                                        '<a class="m-l-xs btn btn-xs btn-danger delete"><i class="fa fa-times"></i></a>'

                },
            ],
            "order": [
            [0, "desc"]
            ],
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'Lista de Clientes' },
                { extend: 'pdf', title: 'Lista de Clientes' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ]

        });

        var table = $('.dataTables-example').DataTable();


        //custom code
        $('.dataTables-example tbody').on('click', 'tr', function () {
            $(this).addClass('seleted-tr').siblings().removeClass('seleted-tr');
            let data = table.row(this).data();
            loadUpdateProcedureForm(data);

        });

        $('.update').click(function () {
            $('#UpdateProcedureForm').trigger('submit');
        });

        $('.create').click(function () {
            $('#CreateProcedureForm').trigger('submit');
        });

        $("body").on("click", ".delete", function () {
            swal({
                title: "Borrar Procedimiento?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si",
                closeOnConfirm: false
            },
             function () {
                 let data = table.row('.seleted-tr').data();
                 let id = { id: data.Id }
                 let jsondata = JSON.stringify(id);
                 $.ajax({
                     url: '@Url.Action("DeleteProcedure", "Maintenance")',
                     dataType: 'json',
                     contentType: 'application/json; charset=UTF-8',
                     type: 'POST',
                     data: jsondata,
                     success: function (data) {
                         swal("Eliminado!", " ", "success");
                         table.ajax.reload();
                     }
                 });

             });



        });

        function loadUpdateProcedureForm(data) {
            $('#UpdateProcedureForm input#Id').val(data.Id);
            $('#UpdateProcedureForm input#Description').val(data.Description);
            $('#UpdateProcedureForm input#Price').val(data.Price);

        }

        $('#CreateProcedureForm').on("submit", function () {
            if ($("#CreateProcedureForm").valid()) {
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {

                        swal({
                            title: "Procedimiento registrado!",
                            text: " ",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        },
                        function () {
                            table.ajax.reload();
                            $('#NewProcedureModal').modal('hide')
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        block.remove();
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                });
            }

            return false;
        });

        $('#UpdateProcedureForm').on("submit", function () {
            if ($("#UpdateProcedureForm").valid()) {

                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {

                        swal({
                            title: "Procedimiento Actualizado!",
                            text: " ",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        },
                        function () {

                            var index = table.rows().eq(0).filter(function (rowIdx) {
                                return table.cell(rowIdx, 0).data() == r.Id ? true : false;
                            });
                            table.row(index).data(r)
                            $('#exampleModal').modal('hide')
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        block.remove();
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                });
            }

            return false;
        });

        $("#CreateProcedureForm").validate({
            rules: {
                Description: {
                    required: true,
                    minlength: 2
                },
                Price: {
                    required: true
                }
            },
            messages: {
                Description: {
                    required: "Por favor Introduzca el Procedimiento",
                    minlength: "El Procedimiento debe tener al menos 2 caracteres"
                },
                Price: {
                    required: "Por favor Introduzca el precio",
                }
            }
        });

        $("#UpdateProcedureForm").validate({
            rules: {
                Description: {
                    required: true,
                    minlength: 2
                },
                Price: {
                    required: true
                }
            },
            messages: {
                Description: {
                    required: "Por favor Introduzca el Procedimiento",
                    minlength: "El Procedimiento debe tener al menos 2 caracteres"
                },
                Price: {
                    required: "Por favor Introduzca el precio",
                }
            }
        });

        jQuery.validator.addMethod("phone", function (value, element) {
            return /([0-9]{3}-[0-9]{3}-[0-9]{4})/.test(value);
        }, "Por favor verifique el numero de contacto");

        $.validator.methods.date = function (value, element) {
            var from = value.split("/");
            var f = new Date(from[2] + '-' + from[1] + '-' + from[0]);
            if (f == 'Invalid Date' && value != "__/__/____") {
                return false;
            }
            else {
                return true;
            }
        };
    });
    </script>
}
