﻿@model UserLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DentaDom| Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <style type="text/css">
        .field-validation-valid { display: none; }

        .validation-summary-valid { display: none; }
    </style>

</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">&nbsp;</h1>

        </div>
        <h3>Bienvenido a DentaDom</h3>
        <p>Inicie sesi&oacute;n para empezar a trabajar!</p>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {id = "frm-login"}))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.UserName, new {@class = "control-label"})
                @Html.TextBoxFor(x => x.UserName, new {@class = "form-control", placeholder = "Ingrese su nombre de usuario", required = "true", style="text-align: center"})
                @Html.ValidationMessageFor(x => x.UserName, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password, new {@class = "control-label"})
                @Html.PasswordFor(x => x.Password, new {@class = "form-control", placeholder = "Ingrese su contraseña", style = "text-align: center" })
                @Html.ValidationMessageFor(x => x.Password, "", new {@class = "text-danger"})
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
        }
        <form class="m-t" role="form" action="#">

        </form>
        <p class="m-t">
            <small>DentaDom App &copy; 2016</small>
        </p>
    </div>
</div>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
</body>
</html>

