﻿
@using Domain.Global.Extensions
@model WebApp.ViewModels.User.UsersViewModel

<table class="table table-striped table-bordered table-hover jq-Datatable">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Usuaio</th>
           
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                    @*<td style="width: 15%; height: 10%">
                        @if (user.Image != null)
                        {
                            <img id="" class="img-circle" src="data:image;base64,@System.Convert.ToBase64String(user.Image)" style="width: 50%" />
                        }
                    </td>*@
                <td style="width: 15%; height: 10%">
                    @if (user.Photo != null)
                    {
                        <img id="" class="img-circle" src="@user.Photo" style="width:50px" />
                    }
                    else
                    {
                        <img id="" class="img-circle" src="~/Images/noavailable.png" style="width:50px" />
                    }
                </td>

                    <td>@user.Name</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    @*<td>@user.RoleType.GetDisplayName()</td>*@
                  
                    <td>
                        <button class="m-l-xs btn btn-xs btn-default display-modal" data-url-action="@Url.Action("Edit","Maintenance",new {id=@user.Id})"><i class="fa fa-edit"></i></button>
                        <button class="m-l-xs btn btn-xs btn-danger delete-user" data-delete="@user.Id"><i class="fa fa-times"></i></button>
                    </td>
            </tr>
        }
    </tbody>
</table>
