﻿@model Data.Entities.Invoice
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DentaDom | Recibo</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="white-bg">

    
<div id="select-multiple-table">
    <select multiple class="hidden" name="procedureList" id="procedureList"></select>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content p-xl">
                <div style="margin-bottom: 40px"><h2><strong> Factura </strong></h2></div>
                <div class="row">
                    <div class="col-sm-6">
                        <address>
                            <strong>Consultorio Grupo Dental Polanco</strong><br>
                            Ave. Bolivar, #241, apt. 202<br>
                            La Julia, Santo Domingo, D.N.<br>
                            <abbr title="Phone">Tel:</abbr> (809) 533-6821
                        </address>
                        <p>
                            <span><strong>Fecha Actual:</strong> @DateTime.Now.ToShortDateString()</span>
                        </p>
                    </div>

                    <div class="col-sm-6 text-right">
                        <h4>Factura No.</h4>
                        <h4 class="text-navy">GDP-000@{@Model.Id}</h4>
                        <span>Paciente:</span>
                        <address>
                            <strong>@Model.Patient.CompleteName</strong><br>
                            <abbr title="Phone">Tel: @{
                                                         var phone = "";
                                                         if (Model.Patient.Phones != null)
                                                         {
                                                             phone = Model.Patient.Phones.FirstOrDefault().Number;
                                                         }
                                                         @phone
                                                     } </abbr>
                        </address>
                        <p>
                            <span><strong>Dentista:</strong> @Model.User.CompleteName</span>
                        </p>
                        <p>
                            <span><strong>Fecha Cita:</strong> @Model.Appointment.EndDate.ToShortDateString()</span>
                        </p>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-md-8">
                        <div class="form-group">
                            <p><strong>Metodo de Pago</strong> Efectivo
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <p><strong>Descuento General %</strong> RD$ @Model.Discount
                            </p>
                        </div>
                    </div>
                </div>

                <div class="table-responsive m-t">
                    <table class="table table-responsive invoice-table" id="invoice-table">
                        <thead>
                        <tr>
                            <th>Procedimiento</th>
                            <th>Precio</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            foreach (var medicalProcedure in @Model.InvoiceDetails.GroupBy(x => x.MedicalProcedure))
                            {

                                 <tr>
                                     <td>

                                         <div>
                                             <strong>@medicalProcedure.Key.Description</strong>
                                         </div>
                                     </td>
                                     @{
                                         decimal price = 0;
                                         if (@Model.InvoiceDetails != null)
                                         {
                                             price = Model.InvoiceDetails.FirstOrDefault(x => x.MedicalProcedureId == medicalProcedure.Key.Id).MedicalProcedurePrice;

                                         }
                                        <td>@price </td>

                                    }
                                     <td>@medicalProcedure.Sum(x => x.MedicalProcedurePrice)</td>
                                 </tr>
                             }
                        }
                        @*<tr>
                            <td>
                                <div><strong>Extraccion de Muela</strong>
                                </div>
                            </td>
                            <td>0</td>
                            <td>RD$ 1,500</td>
                            <td>RD$ 0</td>
                            <td>RD$ 1,500</td>
                        </tr>
                        <tr>
                            <td>
                                <div><strong>Instalacion Brackets</strong>
                                </div>
                            </td>
                            <td>0</td>
                            <td>RD$ 6,700</td>
                            <td>RD$ 0</td>
                            <td>RD$ 6,700</td>
                        </tr>*@
                        </tbody>
                    </table>
                </div><!-- /table-responsive -->
                <div class="row">
                    <div class="pull-right">
                        <table class="table invoice-totals">
                            <tbody>
                            @{
                                var subtotal = Model.InvoiceDetails.Sum(x => x.MedicalProcedurePrice);
                                var taxTotal = subtotal*Convert.ToDecimal(0.18);
                                var total = subtotal + taxTotal;

                                <tr>
                                    <td>
                                        <strong>Sub Total :</strong>
                                    </td>
                                    <td>
                                        RD$ @subtotal.ToString("n2")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Total Impuestos :</strong>
                                    </td>
                                    <td>
                                        RD$ @taxTotal.ToString("n2")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>TOTAL :</strong>
                                    </td>
                                    <td>
                                        RD$ @total.ToString("n2")
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>

<script type="text/javascript">
    window.print();
</script>
